@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url('/src/photos/homeBackground.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* w-full h-[100vh] bg-home-background bg-cover bg-center bg-fixed relative overflow-auto text-center */