@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url('/src/photos/homeBackground.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* @media (max-width: 640px) {
    html {
        background-size: 100vw;
        background-size: 100vh;
    
    }
} */